<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDGFh86O8herEUblRyyGgwy0Nz6tr-aU-0</string>
	<key>GCM_SENDER_ID</key>
	<string>827022062403</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ali.SneakerNF</string>
	<key>PROJECT_ID</key>
	<string>sneakernf</string>
	<key>STORAGE_BUCKET</key>
	<string>sneakernf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:827022062403:ios:eec649ebce69e082c675f6</string>
</dict>
</plist>